{% extends "Base.twig" %}

{% block main %}

    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-12">
                <h2 class="m-5">Tableau de bord</h2>
            </div>
        </div>
        
        <div class="row justify-content-evenly">
            <div class="col-4">
                <div class="card m-5" style="width: 24rem;">
                    <img src="assets/images/background-image-viewsite.jpg" class="card-img-top" alt="Backgroung Picture - View your website" style="height: 18rem;">
                    <div class="card-body bg-success-subtle">
                        <h4 class="p-2 py-4"><a class=" link-dark link-underline-opacity-0 link-underline-opacity-75-hover" href="index.php?controller=website" >Visualiser votre site web</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card m-5" style="width: 24rem;">
                    <img src="assets/images/background-image-editweb.jpg" class="card-img-top" alt="Backgroung Picture - Edit pages and contents" style="height: 18rem;">
                    <div class="card-body bg-warning-subtle">
                        <h4 class="p-2 py-4"><a class=" link-dark link-underline-opacity-0 link-underline-opacity-75-hover" href="index.php?controller=edit">Éditer les pages et contenus</a></h4> 
                    </div>
                </div>
            </div>           
        </div>
    </div>

{% endblock %}
